.icon-login-sign_in {
    background: url('#{$images-path}icons/login-sign_in.png') no-repeat center;
}
.icon-login-languages {
    background: url('#{$images-path}icons/login-languages.png') no-repeat center;
}
.icon-login-forgot_password {
    background: url('#{$images-path}icons/login-forgot_password.png') no-repeat center;
}
