.dock-icon {
    width: 32px;
    height: 32px;
}
.menu-icon {
    width: 16px;
    height: 16px;
}
.icon-applications {background: url('images/icons/32/applications.png');}
.icon-system {background: url('images/icons/32/system.png');}
.icon-power {background: url('images/icons/32/power.png');}
.icon-desktop {background: url('images/icons/32/desktop.png');}
.icon-kebab {background: url('images/icons/16/kebab.png');}
.icon-home {background: url('images/icons/16/home.png');}
.icon-session {background: url('images/icons/16/session.png');}
