#loader-mask {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 99999;
    background-color: $loader-bg-color;

    p {
        width: 350px;
        height: 160px;
        position: absolute;
        left: 50%;
        top: 45%;
        margin: -80px 0 0 -175px;
        color: $loader-msg-color;
        text-align: center;
        background: url('#{$images-path}loader.png') no-repeat center top;

        span {
            display: block;
            background: $loader-bg-color url('#{$images-path}loader-bar.gif') no-repeat center;
            height: 60px;
            margin-top: 110px;

            strong {
                color: lighten($loader-msg-color, 1%);
                font-weight: bold;
            }

            a {
                color: gray;
            }
        }
    }

    p.disabled {
        background: url('#{$images-path}loader-disabled.png') no-repeat center top;
    }
}